body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    border-bottom: solid;
    
    font-style: italic;
}
h3, h4{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bolder;

}
img {
    height: 30em;
    width: auto;
}
li{
    text-align: left;
}
ul, ol {
    width: 25%;
    margin-left: 40%;
    border: solid;
}
a {
    display: block;
    text-align: left;
}
