body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    border-top: solid;
    border-bottom: solid;
    
    font-style: italic;
}
ul {
    padding: 0%;
}
li {
    list-style: none;
    margin-bottom: 2em;    
    padding: 0;
    
}
a { 
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bolder;
    padding: 2em;
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: black;
    color: white;
}
